* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.home {
    display: flex;
    flex-direction: row;

    height: 100vh;
    width: 100vw;
    background-color: aqua;
}

.side_bar{
    width: 5%;
    background-color: aquamarine;
    transition: width 0.3s;
}
.home{
    width: 100%;
}

.side_bar:hover{
    width: 20%;
    overflow: hidden;
    
}

.main_list{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    padding-left: 10px;
}


.home_list{
    list-style: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s;

}

.index_list{
    list-style: none;
    font-size: 16px;
    font-weight: normal;
    margin-top: 10px;
    padding-left: 20px;
    color: gray;
    display: none;
}

.seen{
    display: none;
}  

.seen_rev{
    display: block;
}